<!-- /******************************************************************************
***
* ITE5315 – Assignment 1
* I declare that this assignment is my own work in accordance with Humber Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: Surya Karan Sharma Student ID: N01530697 Date: 3rd Oct., 2023
*
*
******************************************************************************
**/ -->
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="generator" content="Aspose.Words for .NET 23.9.0" />
    <title>CV (Resume)</title>
    <style type="text/css">
        body {
            widows: 0;
            orphans: 0;
            font-family: Calibri;
            font-size: 11pt;
        }

        h1,
        h2,
        p {
            margin: 0pt;
        }

        li {
            margin-top: 0pt;
            margin-bottom: 0pt;
        }

        h1 {
            margin-left: 7.1pt;
            page-break-inside: auto;
            page-break-after: auto;
            widows: 0;
            orphans: 0;
            font-family: Calibri;
            font-size: 10pt;
            font-weight: bold;
            color: #000000;
        }

        h2 {
            margin-top: 2pt;
            page-break-inside: avoid;
            page-break-after: avoid;
            widows: 0;
            orphans: 0;
            font-family: Cambria;
            font-size: 13pt;
            font-weight: normal;
            color: #365f91;
        }

        .BodyText {
            widows: 0;
            orphans: 0;
            font-family: Calibri;
            font-size: 10pt;
        }

        .ListParagraph {
            margin-left: 25.7pt;
            text-indent: -14.4pt;
            widows: 0;
            orphans: 0;
            font-family: Calibri;
            font-size: 11pt;
        }

        .TableParagraph {
            widows: 0;
            orphans: 0;
            font-family: Calibri;
            font-size: 11pt;
        }

        .Title {
            margin-top: 0.2pt;
            margin-right: 204.2pt;
            margin-left: 200.35pt;
            text-align: center;
            widows: 0;
            orphans: 0;
            font-family: Calibri;
            font-size: 20pt;
            font-weight: bold;
        }

        span.Heading2Char {
            font-family: Cambria;
            font-size: 13pt;
            color: #365f91;
        }

        span.Hyperlink {
            text-decoration: underline;
            color: #0000ff;
            -aw-style-name: hyperlink;
        }

        span.TitleChar {
            font-family: Calibri;
            font-size: 20pt;
            font-weight: bold;
        }

        .heading h1 {
            font-family: 'Asap', sans-serif;
            text-align: center;
            font-size: 50px;
            font-weight: 600;
            background-image: radial-gradient(ellipse, #553c9a, #ee4b2b);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;

            position: relative;
            padding: 0;
            margin: 0;
            -webkit-transition: all 0.4s ease 0s;
            -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
        }

        /* === HEADING STYLE #1 === */
        .one h1 {
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 5px;
        }

        .one h1:before {
            width: 28px;
            height: 5px;
            display: block;
            content: '';
            position: absolute;
            bottom: 3px;
            left: 50%;
            margin-left: -14px;
            background-color: #b80000;
        }

        .one h1:after {
            width: 100px;
            height: 1px;
            display: block;
            content: '';
            position: relative;
            margin-top: 25px;
            left: 50%;
            margin-left: -50px;
            background-color: #b80000;
        }

        .card {
            margin: auto;
            padding: 2rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 80%;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .container {
            padding: 2px 16px;
        }
    </style>
</head>

<body>
    <div class="resume">
        <div class="heading one">
            <h1>RESUME</h1>
        </div>
        <div class="card">
            <p style="
            margin-top: 1.25pt;
            margin-right: 0.05pt;
            text-align: center;
            font-size: 20pt;
          ">
                <span style="font-weight: bold">Surya Karan Sharma</span>
            </p>
            <p style="
            margin-right: 5pt;
            margin-left: 18pt;
            text-align: right;
            font-size: 10pt;
          ">
                <span>Cell phone: +1 (437) 258-1603</span>
            </p>
            <p style="margin-right: 5pt; margin-left: 18pt; text-align: right">
                <span style="font-size: 10pt">E-mail : </span><a href="mailto:suryakaran1234@gmail.com"
                    style="text-decoration: none"><span style="
                font-size: 10pt;
                text-decoration: underline;
                color: #0563c1;
              ">suryakaran1234@gmail.com</span></a>
            </p>
            <p style="
            margin-right: 5pt;
            margin-left: 18pt;
            text-align: right;
            font-size: 10pt;
          ">
                <span>Current location : Toronto,</span><span>&#xad;</span><span>&#xad;</span><span> ON</span>
            </p>
            <p style="
            margin-right: 5pt;
            margin-left: 18pt;
            text-align: right;
            font-size: 10pt;
          ">
                <span style="-aw-import: ignore">&#xa0;</span>
            </p>
            <p style="
            margin-top: 0.05pt;
            margin-bottom: 1.25pt;
            text-align: center;
            border-bottom: 0.75pt solid #000000;
            padding-bottom: 1pt;
            font-size: 10pt;
            -aw-border-bottom: 0.5pt single;
          ">
                <span style="font-weight: bold">PROFILE SUMMARY</span>
            </p>
            <p style="margin-top: 0.05pt; font-size: 10pt">
                <span style="font-weight: bold; -aw-import: ignore">&#xa0;</span>
            </p>
            <p style="line-height: 91%; font-size: 10pt">
                <span>Flexible, highly motivated, initiative-taking, and skilled IT
                    professional with a strong background in technical support and
                    customer service. Adept at troubleshooting and resolving hardware
                    and software issues, ensuring quick and accurate problem resolution.
                    Proficient in utilizing programming languages like Python,
                    JavaScript, and Java. Exceptional communication and organizational
                    skills, with a focus on delivering exceptional customer experiences.
                    Proven ability to maintain a clean and organized work environment,
                    while effectively managing multiple tasks.
                </span>
            </p>
            <p style="line-height: 91%; font-size: 10pt">
                <span style="font-weight: bold; -aw-import: ignore">&#xa0;</span>
            </p>
            <p style="
            margin-top: 0.05pt;
            margin-bottom: 1.25pt;
            text-align: center;
            border-bottom: 0.75pt solid #000000;
            padding-bottom: 1pt;
            font-size: 10pt;
            -aw-border-bottom: 0.5pt single;
          ">
                <span style="font-weight: bold">PROFESSIONAL</span><span
                    style="font-weight: bold; letter-spacing: -0.2pt"> </span><span
                    style="font-weight: bold">EXPERIENCE</span>
            </p>
            <p style="font-size: 10pt">
                <span style="font-weight: bold; -aw-import: ignore">&#xa0;</span>
            </p>
            <p style="margin-left: 5.8pt; font-size: 10pt">
                <span style="font-weight: bold">UNIVERSITY OF GUELPH-HUMBER</span><span style="
              width: 353.7pt;
              font-weight: bold;
              display: inline-block;
              -aw-tabstop-align: left;
              -aw-tabstop-pos: 499.5pt;
            ">&#xa0;</span><span>Jaipur,</span><span style="letter-spacing: -0.25pt"> </span><span>India</span>
            </p>
            <p style="
            margin-right: 14.5pt;
            margin-left: 467.25pt;
            text-indent: -461.45pt;
            line-height: 14.6pt;
          ">
                <span style="
              font-size: 10pt;
              font-style: italic;
              text-decoration: underline;
            ">Computer Support Assistant (CSA)</span><span style="
              width: 320.62pt;
              text-indent: 0pt;
              font-size: 10pt;
              font-style: italic;
              display: inline-block;
              -aw-tabstop-align: left;
              -aw-tabstop-pos: 463.5pt;
            ">&#xa0;</span><span style="font-size: 10pt; font-style: italic; -aw-import: spaces">&#xa0;&#xa0;
                </span><span style="font-size: 10pt; font-style: italic">Aug</span><span
                    style="font-size: 10pt; font-style: italic; letter-spacing: -0.1pt">
                </span><span style="font-size: 10pt; font-style: italic">2023</span><span
                    style="font-size: 10pt; font-style: italic; letter-spacing: 0.05pt">
                </span><span style="font-size: 10pt; font-style: italic">–</span><span
                    style="font-size: 10pt; font-style: italic; letter-spacing: -0.05pt">
                </span><span style="font-size: 10pt; font-style: italic">Present</span>
            </p>
            <ul type="disc" style="margin: 0pt; padding-left: 0pt">
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri">Provided efficient </span><span
                        style="font-family: Calibri; font-weight: bold">end user support</span><span
                        style="font-family: Calibri">
                        to CVS clients, addressing </span><span style="font-family: Calibri; font-weight: bold">inbound
                        phone requests</span><span style="font-family: Calibri">
                        promptly and effectively.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri">Utilized the </span><span
                        style="font-family: Calibri; font-weight: bold">"Issue identification"</span><span
                        style="font-family: Calibri"> model to </span><span
                        style="font-family: Calibri; font-weight: bold">identify and troubleshoot problems</span><span
                        style="font-family: Calibri"> with </span><span
                        style="font-family: Calibri; font-weight: bold">client</span><span style="font-family: Calibri">
                    </span><span style="font-family: Calibri; font-weight: bold">computers</span><span
                        style="font-family: Calibri">, ensuring quick and accurate problem resolution.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri; font-weight: bold">Installed, modified, and repaired</span><span
                        style="font-family: Calibri"> computer </span><span
                        style="font-family: Calibri; font-weight: bold">hardware and software</span><span
                        style="font-family: Calibri">, effectively optimizing system </span><span
                        style="font-family: Calibri; font-weight: bold">performance and functionality</span><span
                        style="font-family: Calibri">.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri; font-weight: bold">Managed Tier 1 server</span><span
                        style="font-family: Calibri"> and </span><span
                        style="font-family: Calibri; font-weight: bold">network devices</span><span
                        style="font-family: Calibri">, addressing </span><span
                        style="font-family: Calibri; font-weight: bold">connectivity issues</span><span
                        style="font-family: Calibri"> and setting up </span><span
                        style="font-family: Calibri; font-weight: bold">new user accounts</span><span
                        style="font-family: Calibri"> for seamless operations.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri">Actively participated in </span><span
                        style="font-family: Calibri; font-weight: bold">monthly training sessions and team
                        meetings</span><span style="font-family: Calibri">, enhancing </span><span
                        style="font-family: Calibri; font-weight: bold">technical knowledge</span><span
                        style="font-family: Calibri">
                        and collaboration within the department.</span>
                </li>
            </ul>
            <p style="
            margin-top: 2.55pt;
            margin-right: 12.05pt;
            margin-left: 7.1pt;
            font-size: 10pt;
          ">
                <span style="font-weight: bold; -aw-import: ignore">&#xa0;</span>
            </p>
            <p style="
            margin-top: 2.55pt;
            margin-right: 10pt;
            margin-left: 7.1pt;
            font-size: 10pt;
          ">
                <span style="font-weight: bold">SSP CANADA</span><span style="
              width: 350.6pt;
              font-weight: bold;
              display: inline-block;
              -aw-tabstop-align: left;
              -aw-tabstop-pos: 411.1pt;
            ">&#xa0;</span><span>Toronto Pearson Airport (YYZ), ON</span>
            </p>
            <p style="margin-right: 5pt; margin-left: 7.1pt; line-height: 14.6pt">
                <span style="
              font-size: 10pt;
              font-style: italic;
              text-decoration: underline;
            ">Server/Bartender</span><span style="
              width: 395.52pt;
              font-size: 10pt;
              font-style: italic;
              display: inline-block;
              -aw-tabstop-align: left;
              -aw-tabstop-pos: 472.5pt;
            ">&#xa0;</span><span style="font-size: 10pt; font-style: italic">May 2023 – Present</span>
            </p>
            <ul type="disc" style="margin: 0pt; padding-left: 0pt">
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri">Greeted guests in a timely, courteous, and </span><span
                        style="font-family: Calibri; font-weight: bold">friendly manner</span><span
                        style="font-family: Calibri">, resulting in a </span><span
                        style="font-family: Calibri; font-weight: bold">high level of customer satisfaction and positive
                        reviews.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri; font-weight: bold">Supervised new workers</span><span
                        style="font-family: Calibri">
                        at work with a very friendly nature.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri">Demonstrated expertise </span><span
                        style="font-family: Calibri; font-weight: bold">in mixing, garnishing, and presenting
                        drinks</span><span style="font-family: Calibri">
                        according to recipes and portion control standards, ensuring
                        consistent quality and customer delight.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri">Always maintained a </span><span
                        style="font-family: Calibri; font-weight: bold">well-organized and fully stocked
                        bar,</span><span style="font-family: Calibri">
                        resulting in smooth operations, minimized downtime, and enhanced
                        customer experience.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri">Possessed necessary </span><span
                        style="font-family: Calibri; font-weight: bold">permits and certifications,</span><span
                        style="font-family: Calibri"> including </span><span
                        style="font-family: Calibri; font-weight: bold">bartending certification (Smart Serve), food
                        handlers permit
                        (Food
                    </span>
                </li>
            </ul>
            <p style="margin-left: 20.2pt; font-size: 10pt">
                <span style="font-weight: bold">Handle Certificate), </span><span>and</span><span
                    style="font-weight: bold">
                    alcoholic beverage servers permit</span><span>, ensuring compliance with legal requirements.</span>
            </p>
            <p style="font-size: 10pt">
                <span style="font-weight: bold; -aw-import: ignore">&#xa0;</span>
            </p>
            <p style="
            margin-top: 2.55pt;
            margin-right: 12.05pt;
            margin-left: 5.8pt;
            font-size: 10pt;
          ">
                <span style="font-weight: bold">HUMBER COLLEGE (GOURMET EXPRESS)</span><span style="
              width: 326.82pt;
              font-weight: bold;
              display: inline-block;
              -aw-tabstop-align: left;
              -aw-tabstop-pos: 499.5pt;
            ">&#xa0;</span><span>Toronto, ON</span>
            </p>
            <p style="margin-right: 5pt; margin-left: 5.8pt; line-height: 14.6pt">
                <span style="
              font-size: 10pt;
              font-style: italic;
              text-decoration: underline;
            ">Cashier &amp; Customer Service</span><span style="
              width: 360.43pt;
              font-size: 10pt;
              font-style: italic;
              display: inline-block;
              -aw-tabstop-align: left;
              -aw-tabstop-pos: 477pt;
            ">&#xa0;</span><span style="font-size: 10pt; font-style: italic">Aug 2022 – Present</span>
            </p>
            <ul type="disc" style="margin: 0pt; padding-left: 0pt">
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri; font-weight: bold">Skilled cashier</span><span
                        style="font-family: Calibri"> with experience in </span><span
                        style="font-family: Calibri; font-weight: bold">handling cash transactions</span><span
                        style="font-family: Calibri"> and providing </span><span
                        style="font-family: Calibri; font-weight: bold">excellent customer service</span><span
                        style="font-family: Calibri">.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri">Proficient in </span><span
                        style="font-family: Calibri; font-weight: bold">operating cash registers</span><span
                        style="font-family: Calibri"> and </span><span
                        style="font-family: Calibri; font-weight: bold">accurately processing payments</span><span
                        style="font-family: Calibri">
                        using various methods, including </span><span
                        style="font-family: Calibri; font-weight: bold">cash and credit cards.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri">Demonstrated ability </span><span
                        style="font-family: Calibri; font-weight: bold">to maintain a clean and organized work
                        area</span><span style="font-family: Calibri">, ensuring efficient </span><span
                        style="font-family: Calibri; font-weight: bold">stocking and display of products.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri; font-weight: bold">Labelled and priced food stock</span><span
                        style="font-family: Calibri">
                        appropriately and accordingly, which lead to increase in more
                        profits.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri; font-weight: bold">Prepared flavored coffees </span><span
                        style="font-family: Calibri">on daily basis, making sure the store runs smoothly.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri; font-weight: bold">Adaptable and flexible</span><span
                        style="font-family: Calibri">, readily adjusting to changes in schedules, priorities, and
                    </span><span style="font-family: Calibri; font-weight: bold">customer demands</span><span
                        style="font-family: Calibri">
                        to ensure optimal service delivery and satisfaction.</span>
                </li>
            </ul>
            <p style="line-height: 14.55pt">
                <span style="font-size: 10pt; -aw-import: ignore">&#xa0;</span>
            </p>
            <p style="margin-left: 5.8pt; font-size: 10pt">
                <span style="font-weight: bold">INFOSYS</span><span style="
              width: 458.45pt;
              font-weight: bold;
              display: inline-block;
              -aw-tabstop-align: left;
              -aw-tabstop-pos: 499.5pt;
            ">&#xa0;</span><span>Jaipur,</span><span style="letter-spacing: -0.25pt"> </span><span>India</span>
            </p>
            <p style="
            margin-left: 467.25pt;
            text-indent: -461.45pt;
            line-height: 14.6pt;
          ">
                <span style="
              font-size: 10pt;
              font-style: italic;
              text-decoration: underline;
            ">IT Help Desk Technician (Level 1)</span><span style="
              width: 330.18pt;
              text-indent: 0pt;
              font-size: 10pt;
              font-style: italic;
              display: inline-block;
              -aw-tabstop-align: left;
              -aw-tabstop-pos: 467.25pt;
            ">&#xa0;</span><span style="font-size: 10pt; font-style: italic">Jul</span><span
                    style="font-size: 10pt; font-style: italic; letter-spacing: -0.1pt">
                </span><span style="font-size: 10pt; font-style: italic">2019</span><span
                    style="font-size: 10pt; font-style: italic; letter-spacing: 0.05pt">
                </span><span style="font-size: 10pt; font-style: italic">–</span><span
                    style="font-size: 10pt; font-style: italic; letter-spacing: -0.05pt">
                </span><span style="font-size: 10pt; font-style: italic">May</span><span
                    style="font-size: 10pt; font-style: italic; letter-spacing: -0.2pt">
                </span><span style="font-size: 10pt; font-style: italic">2021</span>
            </p>
            <ul type="disc" style="margin: 0pt; padding-left: 0pt">
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri">Provided efficient </span><span
                        style="font-family: Calibri; font-weight: bold">end user support</span><span
                        style="font-family: Calibri">
                        to CVS clients, addressing </span><span style="font-family: Calibri; font-weight: bold">inbound
                        phone requests</span><span style="font-family: Calibri">
                        promptly and effectively.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri">Utilized the </span><span
                        style="font-family: Calibri; font-weight: bold">"Issue identification"</span><span
                        style="font-family: Calibri"> model to </span><span
                        style="font-family: Calibri; font-weight: bold">identify and troubleshoot problems</span><span
                        style="font-family: Calibri"> with </span><span
                        style="font-family: Calibri; font-weight: bold">client</span><span style="font-family: Calibri">
                    </span><span style="font-family: Calibri; font-weight: bold">computers</span><span
                        style="font-family: Calibri">, ensuring quick and accurate problem resolution.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri; font-weight: bold">Installed, modified, and repaired</span><span
                        style="font-family: Calibri"> computer </span><span
                        style="font-family: Calibri; font-weight: bold">hardware and software</span><span
                        style="font-family: Calibri">, effectively optimizing system </span><span
                        style="font-family: Calibri; font-weight: bold">performance and functionality</span><span
                        style="font-family: Calibri">.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri; font-weight: bold">Managed Tier 1 server</span><span
                        style="font-family: Calibri"> and </span><span
                        style="font-family: Calibri; font-weight: bold">network devices</span><span
                        style="font-family: Calibri">, addressing </span><span
                        style="font-family: Calibri; font-weight: bold">connectivity issues</span><span
                        style="font-family: Calibri"> and setting up </span><span
                        style="font-family: Calibri; font-weight: bold">new user accounts</span><span
                        style="font-family: Calibri"> for seamless operations.</span>
                </li>
                <li style="
              margin-left: 15.35pt;
              padding-left: 4.85pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri">Actively participated in </span><span
                        style="font-family: Calibri; font-weight: bold">monthly training sessions and team
                        meetings</span><span style="font-family: Calibri">, enhancing </span><span
                        style="font-family: Calibri; font-weight: bold">technical knowledge</span><span
                        style="font-family: Calibri">
                        and collaboration within the department.</span>
                </li>
            </ul>
            <p style="font-size: 10pt">
                <span style="-aw-import: ignore">&#xa0;</span>
            </p>
            <p style="
            margin-top: 0.05pt;
            margin-bottom: 1.25pt;
            text-align: center;
            border-bottom: 0.75pt solid #000000;
            padding-bottom: 1pt;
            font-size: 10pt;
            -aw-border-bottom: 0.5pt single;
          ">
                <span style="font-weight: bold">CERTIFICATES AND TRAINING</span>
            </p>
            <br style="clear: both; mso-break-type: section-break" />
            <div>
                <ul type="disc" style="margin: 0pt; padding-left: 0pt">
                    <li style="
                margin-left: 15.35pt;
                padding-left: 4.85pt;
                font-family: serif;
                font-size: 10pt;
                -aw-font-family: 'Symbol';
                -aw-font-weight: normal;
                -aw-number-format: '';
              ">
                        <span style="font-family: Calibri; font-weight: bold">Food Handler Certificate (Food Safety
                            Training)</span>
                    </li>
                    <li style="
                margin-left: 15.35pt;
                padding-left: 4.85pt;
                font-family: serif;
                font-size: 10pt;
                -aw-font-family: 'Symbol';
                -aw-font-weight: normal;
                -aw-number-format: '';
              ">
                        <span style="font-family: Calibri; font-weight: bold">Standard First Aid &amp; CPR/AED (Level
                            C)</span>
                    </li>
                    <li style="
                margin-left: 15.35pt;
                padding-left: 4.85pt;
                font-family: serif;
                font-size: 10pt;
                -aw-font-family: 'Symbol';
                -aw-font-weight: normal;
                -aw-number-format: '';
              ">
                        <span style="font-family: Calibri; font-weight: bold">Smart Serve Ontario</span>
                    </li>
                    <li style="
                margin-left: 15.35pt;
                padding-left: 4.85pt;
                font-family: serif;
                font-size: 10pt;
                -aw-font-family: 'Symbol';
                -aw-font-weight: normal;
                -aw-number-format: '';
              ">
                        <span style="font-family: Calibri; font-weight: bold">Health &amp; Safety Awareness
                            Training</span>
                    </li>
                    <li style="
                margin-left: 15.35pt;
                padding-left: 4.85pt;
                font-family: serif;
                font-size: 10pt;
                -aw-font-family: 'Symbol';
                -aw-font-weight: normal;
                -aw-number-format: '';
              ">
                        <span style="font-family: Calibri; font-weight: bold">WHMIS Certificate</span>
                    </li>
                    <li style="
                margin-left: 15.35pt;
                padding-left: 4.85pt;
                font-family: serif;
                font-size: 10pt;
                -aw-font-family: 'Symbol';
                -aw-font-weight: normal;
                -aw-number-format: '';
              ">
                        <span style="font-family: Calibri; font-weight: bold">PCC (Police Clearance Certificate)</span>
                    </li>
                </ul>
            </div>
            <br style="clear: both; mso-break-type: section-break" />
        </div>

        <div class="card">
            <p style="font-size: 10pt">
                <span style="-aw-import: ignore">&#xa0;</span>
            </p>
            <p style="font-size: 10pt">
                <span style="-aw-import: ignore">&#xa0;</span>
            </p>
            <p style="
            margin-top: 0.05pt;
            margin-bottom: 1.25pt;
            text-align: center;
            border-bottom: 0.75pt solid #000000;
            padding-bottom: 1pt;
            font-size: 10pt;
            -aw-border-bottom: 0.5pt single;
          ">
                <span style="font-weight: bold">EDUCATION</span>
            </p>
            <p style="margin-top: 2.6pt; margin-left: 5.8pt; font-size: 10pt">
                <span style="font-weight: bold">HUMBER COLLEGE</span><span style="
              width: 430.61pt;
              font-weight: bold;
              display: inline-block;
              -aw-tabstop-align: left;
              -aw-tabstop-pos: 513pt;
            ">&#xa0;</span><span style="font-weight: bold"> </span><span>Toronto,</span><span
                    style="letter-spacing: -0.4pt"> </span><span>ON</span>
            </p>
            <p style="margin-left: 5.8pt">
                <span style="font-size: 10pt; font-style: italic">Information Technology Solutions (Post Graduate
                    Certificate – Night
                    Classes)</span><span style="
              width: 192.87pt;
              display: inline-block;
              -aw-tabstop-align: left;
              -aw-tabstop-pos: 508.5pt;
            ">&#xa0;</span><span style="font-size: 10pt; font-style: italic">2022 -Present</span>
            </p>
            <p style="margin-left: 5.8pt; font-size: 10pt">
                <span style="font-style: italic; -aw-import: ignore">&#xa0;</span>
            </p>
            <p style="margin-top: 2.6pt; margin-left: 5.8pt; font-size: 10pt">
                <span style="font-weight: bold; -aw-import: spaces">&#xa0;</span><span
                    style="font-weight: bold">UNIVERSITY OF RAJASTHAN</span><span style="
              width: 403.13pt;
              font-weight: bold;
              display: inline-block;
              -aw-tabstop-align: left;
              -aw-tabstop-pos: 526.5pt;
            ">&#xa0;</span><span>Jaipur,</span><span style="letter-spacing: -0.4pt"> </span><span>IN</span>
            </p>
            <p style="margin-left: 5.8pt; font-size: 10pt">
                <span style="font-style: italic">Bachelor’s Degree in Computer Application</span><span style="
              width: 351.79pt;
              font-style: italic;
              display: inline-block;
              -aw-tabstop-align: left;
              -aw-tabstop-pos: 531pt;
            ">&#xa0;</span><span style="width: 9pt; font-style: italic; display: inline-block">&#xa0;</span><span
                    style="font-style: italic">2021</span>
            </p>
            <p style="margin-left: 5.8pt; font-size: 10pt">
                <span style="font-style: italic; -aw-import: ignore">&#xa0;</span>
            </p>
            <p style="
            margin-top: 0.05pt;
            margin-bottom: 1.25pt;
            text-align: center;
            border-bottom: 0.75pt solid #000000;
            padding-bottom: 1pt;
            font-size: 10pt;
            -aw-border-bottom: 0.5pt single;
          ">
                <span style="font-weight: bold">SKILLS</span>
            </p>
            <ul type="disc" style="margin: 0pt; padding-left: 0pt">
                <li style="
              margin-left: 27.6pt;
              padding-left: 8.4pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri; font-weight: bold">Primary technical skills:
                    </span>
                    <ul type="circle" style="margin-right: 0pt; margin-left: 0pt; padding-left: 0pt">
                        <li style="
                  margin-left: 29pt;
                  padding-left: 7pt;
                  -aw-font-family: 'Courier New';
                  -aw-font-weight: normal;
                  -aw-number-format: 'o';
                ">
                            <span style="font-family: Calibri; font-weight: bold">Software Applications: </span><span
                                style="font-family: Calibri">Proficient in utilizing</span><span
                                style="font-family: Calibri; font-weight: bold">
                                Microsoft Office Suite (Word, Excel, and PowerPoint</span><span
                                style="font-family: Calibri">) for maintaining accurate records, creating organized
                                documentation, and ensuring efficient record-keeping
                                processes.</span>
                        </li>
                        <li style="
                  margin-left: 29pt;
                  padding-left: 7pt;
                  -aw-font-family: 'Courier New';
                  -aw-font-weight: normal;
                  -aw-number-format: 'o';
                ">
                            <span style="font-family: Calibri; font-weight: bold">Computer Literacy: Strong computer
                                skills</span><span style="font-family: Calibri">, including proficiency in e-mail
                                software and programming
                                languages such as</span><span style="font-family: Calibri; font-weight: bold">
                                Python, JavaScript, and Java.</span>
                        </li>
                        <li style="
                  margin-left: 29pt;
                  padding-left: 7pt;
                  -aw-font-family: 'Courier New';
                  -aw-font-weight: normal;
                  -aw-number-format: 'o';
                ">
                            <span style="font-family: Calibri; font-weight: bold">Troubleshooting: </span><span
                                style="font-family: Calibri">Ability to conduct thorough</span><span
                                style="font-family: Calibri; font-weight: bold">
                                troubleshooting and diagnostics</span><span style="font-family: Calibri"> to</span><span
                                style="font-family: Calibri; font-weight: bold">
                                identify and resolve hardware, software, and network-related
                                issues.</span>
                        </li>
                        <li style="
                  margin-left: 29pt;
                  padding-left: 7pt;
                  -aw-font-family: 'Courier New';
                  -aw-font-weight: normal;
                  -aw-number-format: 'o';
                ">
                            <span style="font-family: Calibri; font-weight: bold">IT Systems Administration:
                            </span><span style="font-family: Calibri">Experience in </span><span
                                style="font-family: Calibri; font-weight: bold">administering user accounts, managing
                                permissions</span><span style="font-family: Calibri">, and assisting with IT system
                                implementation and
                                maintenance.</span>
                        </li>
                        <li style="
                  margin-left: 29pt;
                  padding-left: 7pt;
                  -aw-font-family: 'Courier New';
                  -aw-font-weight: normal;
                  -aw-number-format: 'o';
                ">
                            <span style="font-family: Calibri; font-weight: bold">Knowledge Base Utilization:
                            </span><span style="font-family: Calibri">Ability to utilize a</span><span
                                style="font-family: Calibri; font-weight: bold">
                                comprehensive knowledge </span><span style="font-family: Calibri">base to provide
                                accurate and consistent solutions to end-user
                                issues.</span>
                        </li>
                    </ul>
                </li>
                <li style="
              margin-left: 27.6pt;
              padding-left: 8.4pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri; font-weight: bold">Primary soft skills:</span>
                    <ul type="circle" style="margin-right: 0pt; margin-left: 0pt; padding-left: 0pt">
                        <li style="
                  margin-left: 29pt;
                  padding-left: 7pt;
                  -aw-font-family: 'Courier New';
                  -aw-font-weight: normal;
                  -aw-number-format: 'o';
                ">
                            <span style="font-family: Calibri; font-weight: bold">Customer Focus: </span><span
                                style="font-family: Calibri">A strong focus on providing exceptional customer service
                                and
                                ensuring a </span><span style="font-family: Calibri; font-weight: bold">positive
                                customer experience.</span>
                        </li>
                        <li style="
                  margin-left: 29pt;
                  padding-left: 7pt;
                  -aw-font-family: 'Courier New';
                  -aw-font-weight: normal;
                  -aw-number-format: 'o';
                ">
                            <span style="font-family: Calibri; font-weight: bold">Communication: </span><span
                                style="font-family: Calibri">Excellent </span><span
                                style="font-family: Calibri; font-weight: bold">communication skills in English,
                            </span><span style="font-family: Calibri">including the ability to interact with guests,
                                take orders,
                                and provide exceptional customer service.</span>
                        </li>
                        <li style="
                  margin-left: 29pt;
                  padding-left: 7pt;
                  -aw-font-family: 'Courier New';
                  -aw-font-weight: normal;
                  -aw-number-format: 'o';
                ">
                            <span style="font-family: Calibri; font-weight: bold">Organizational Skills</span><span
                                style="font-family: Calibri">: Strong organizational skills, including the ability to
                            </span><span style="font-family: Calibri; font-weight: bold">manage multiple tasks and
                                responsibilities</span><span style="font-family: Calibri">
                                in a fast-paced environment.</span>
                        </li>
                        <li style="
                  margin-left: 29pt;
                  padding-left: 7pt;
                  -aw-font-family: 'Courier New';
                  -aw-font-weight: normal;
                  -aw-number-format: 'o';
                ">
                            <span style="font-family: Calibri; font-weight: bold">Problem-Solving: </span><span
                                style="font-family: Calibri">Demonstrated ability to respond</span><span
                                style="font-family: Calibri; font-weight: bold">
                                calmly and effectively </span><span style="font-family: Calibri">during emergency
                                situations, exercise good judgment, and find
                                solutions.</span>
                        </li>
                        <li style="
                  margin-left: 29pt;
                  padding-left: 7pt;
                  -aw-font-family: 'Courier New';
                  -aw-font-weight: normal;
                  -aw-number-format: 'o';
                ">
                            <span style="font-family: Calibri; font-weight: bold">Leadership: </span><span
                                style="font-family: Calibri">Taking initiative, implementing procedures and processes,
                                and
                                effectively managing front desk operations.</span>
                        </li>
                    </ul>
                </li>
            </ul>
            <p style="margin-left: 72pt; font-size: 10pt">
                <span style="-aw-import: ignore">&#xa0;</span>
            </p>
            <p style="
            margin-top: 0.05pt;
            margin-bottom: 1.25pt;
            text-align: center;
            border-bottom: 0.75pt solid #000000;
            padding-bottom: 1pt;
            font-size: 10pt;
            -aw-border-bottom: 0.5pt single;
          ">
                <span style="font-weight: bold">LEADERSHIP AND VOLUNTEER EXPERIENCE</span>
            </p>
            <ul type="disc" style="margin: 0pt; padding-left: 0pt">
                <li style="
              margin-left: 16.7pt;
              line-height: 14.55pt;
              padding-left: 4.6pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="
                font-family: Calibri;
                font-weight: bold;
                color: #242424;
                background-color: #ffffff;
              ">Student Life Volunteer in FYE</span><span style="font-family: Calibri; font-weight: bold">
                        (First Year Experience)</span><span style="
                width: 265.89pt;
                font-family: Calibri;
                display: inline-block;
                -aw-tabstop-align: left;
                -aw-tabstop-pos: 503.25pt;
              ">&#xa0;</span><span style="font-family: Calibri">Toronto, ON</span>
                </li>
            </ul>
            <p style="margin-left: 21.3pt; line-height: 14.55pt">
                <span style="
              font-size: 10pt;
              font-style: italic;
              text-decoration: underline;
            ">Humber College</span><span style="
              width: 391.17pt;
              font-size: 10pt;
              display: inline-block;
              -aw-tabstop-align: left;
              -aw-tabstop-pos: 477pt;
            ">&#xa0;</span><span style="font-size: 10pt; font-style: italic">Nov 2022 – Present</span>
            </p>
            <ul type="disc" style="margin: 0pt; padding-left: 0pt">
                <li style="
              margin-left: 16.7pt;
              line-height: 14.55pt;
              padding-left: 4.6pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="
                font-family: Calibri;
                font-weight: bold;
                color: #242424;
                background-color: #ffffff;
              ">Peer Mentor</span><span style="
                width: 429.21pt;
                font-family: Calibri;
                display: inline-block;
                -aw-tabstop-align: left;
                -aw-tabstop-pos: 503.25pt;
              ">&#xa0;</span><span style="font-family: Calibri">Toronto, ON</span>
                </li>
            </ul>
            <p style="margin-left: 21.3pt; line-height: 14.55pt">
                <span style="
              font-size: 10pt;
              font-style: italic;
              text-decoration: underline;
            ">Humber College</span><span style="
              width: 391.17pt;
              font-size: 10pt;
              display: inline-block;
              -aw-tabstop-align: left;
              -aw-tabstop-pos: 477pt;
            ">&#xa0;</span><span style="font-size: 10pt; font-style: italic">Nov 2022 - Present</span>
            </p>
            <ul type="disc" style="margin: 0pt; padding-left: 0pt">
                <li style="
              margin-left: 16.7pt;
              line-height: 14.55pt;
              padding-left: 4.6pt;
              font-family: serif;
              font-size: 10pt;
              -aw-font-family: 'Symbol';
              -aw-font-weight: normal;
              -aw-number-format: '';
            ">
                    <span style="font-family: Calibri; font-weight: bold">Brand Ambassador</span><span
                        style="font-family: Calibri"> </span><span style="
                width: 400.89pt;
                font-family: Calibri;
                display: inline-block;
                -aw-tabstop-align: left;
                -aw-tabstop-pos: 503.25pt;
              ">&#xa0;</span><span style="font-family: Calibri">Toronto, ON</span>
                </li>
            </ul>
            <p style="margin-left: 21.3pt; line-height: 14.55pt">
                <span style="
              font-size: 10pt;
              font-style: italic;
              text-decoration: underline;
            ">Humber College</span><span style="
              width: 386.67pt;
              font-size: 10pt;
              display: inline-block;
              -aw-tabstop-align: left;
              -aw-tabstop-pos: 472.5pt;
            ">&#xa0;</span><span style="font-size: 10pt; font-style: italic">Dec 2022 - Jan 2023</span>
            </p>
            <p><span style="-aw-import: ignore">&#xa0;</span></p>
        </div>
    </div>
</body>

</html>